{% load static painel_de_controle_tags %}
<footer class="container-fluid navbar-dark bg-dark">

</footer>

<!-- Optional JavaScript -->

<!-- fonte awesome 5.13.1 -->
<script src="{% static 'icones/font-awesome-5-13-1-all.min.js' %}"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS 4.5 -->
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- js personalizado -->


</body>
</html>