{% extends 'core/layout/base.html' %}
{% load static %}

{% block container %}
    <div class="row">
        <div class="col-md-3 mt-3 mb-3">
            <div class="conteudo-esquerda">
                <img src="{{ object.chave_estrangeira.thumbnail.url }}">

                <h3 class="titulo-secundario"> {{ object.chave_estrangeira }}</h3>

                <ul class="list-unstyled lista-detalhe">
                    <li>Plataforma:
                        {% for plataforma in plataformas %}
                            <a href="{% url 'JogoListPlataformaView' plataforma.slug %}"> <span
                                    class="tags-plataforma"> {{ plataforma }} </span></a>
                        {% endfor %}
                    </li>

                    <li>Estilo:
                        {% for estilo_jogo in estilos_jogos %}
                            <a href="{% url 'JogoListEstiloView' estilo_jogo.slug %}"> <span
                                    class="tags-estilo">{{ estilo_jogo }}</span></a>
                        {% endfor %}
                    </li>

                    <li>
                        Ano de Lançamento:<span class="tags-ano">{{ object.chave_estrangeira.ano_lancamento }}</span>
                    </li>
                    <li>
                        Desenvolvido:<span class="tags-desenvolvido">{{ object.chave_estrangeira.desenvolvido }}</span>
                    </li>

                </ul>
                <ul>
                    <li>Campanha</li>
                    <li>Secundária</li>
                    <li>Conquistas</li>
                    <i class="fas fa-user-friends"></i>
                </ul>
            </div>
        </div>
        <div class="col conteudo-game">
            <h1 class="titulo-principal">{{ object.nome }}</h1>
            <small class="tags">{{ object.chave_estrangeira }}</small>
            <p>
                {{ object.descricao | safe }}
            </p>
        </div>
    </div>

{% endblock %}